<div class="container-fluid">
    <div class="container">
       <div class="row">
            <div class="col-12 col-md-3">
                <h4 class="text-white">Shortly</h4>
            </div>

            <div class="col-12 col-md-2">
                <h6 class="text-white">Features</h6>
                <p>Link Shortening</p>
                <p>Braned Links</p>
                <p>Analytics</p>
            </div>

            <div class="col-12 col-md-2">
                <h6 class="text-white">Ressources</h6>
                <p>Blog</p>
                <p>Developers</p>
                <p>Support</p>
            </div>

            <div class="col-12 col-md-2">
                <h6 class="text-white">Company</h6>
                <p>About</p>
                <p>Our Tean</p>
                <p>Careers</p>
                <p>Contact</p>
            </div>

            <div class="col-12 col-md-3 text-white">
                <i class="fa-brands fa-square-facebook me-3"></i>
                <i class="fa-brands fa-twitter me-3"></i>
                <i class="fa-brands fa-pinterest me-3"></i>
                <i class="fa-brands fa-instagram "></i>
            </div>
       </div>
    </div>
</div>