:host .container-fluid{
    background-color: var(--dark-blue);
    padding: 1.5rem 0;
}

.row > div h6{
    margin-bottom: 1.1rem;
}

.row div{
    margin-bottom: 2rem;
}

.row div:last-child{
    text-align: right;
}

.row > div p{
    margin-bottom: 0.2rem;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .row > div *{
        text-align: center;
    }
    .row div:last-child{
        text-align: center;
    }
}