<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-8 col-lg-6 order-2 order-md-1">
            <h1>More than just</h1>
            <h1>shorter links</h1>
            <p>
                Build your brand's recognition and get 
                detailed insights on how your links are 
                performing
            </p>
            <app-button [ngClass]="'start-btn'" label="Get Started"></app-button>
        </div>
        <div class="col-12 col-md-4 col-lg-6 order-1 order-md-2">
        <img src="assets/illustration-working.svg" alt="">
        </div>
    </div>
</div>