.container{
    margin-top: 100px !important;
}
h1{
    font-size: 3em;
}

p{
    width: 70%;
}

img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .container{
        margin-top: 50px !important;
    }
    h1:nth-child(1){
        margin-top: 50px;
    }
    h1{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        text-align: center;
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
    }
    img{
        margin-left: 0% !important;
    }
    .start-btn{
        display: flex;
        justify-content: center;
    }
    .start-btn button{
        margin: 10px auto !important;
    }

}