<div class="form_box position-relative">
    <img [src]="imgUrl"/>
    <form (submit)="submit()">
        <div>
            <input (input)="validate()" [class.input-error]="validation.error" name="url" [(ngModel)]="url" type="text" placeholder="Shorten a link here..."><br>
            <span [class.error-message]="validation.error">{{validation.message}}</span>
        </div>
        <app-button myClass="full" [loading]="loading" [ngClass]="'button'" type="secondary" label="Shorten It!"></app-button>
    </form>
</div>

<ng-container *ngFor="let link of links;index as i">
    <div>
        <h5>{{link.original_link}}</h5>
        <hr>
        <h5>{{link.short_link}}</h5>
        <app-button class="button-copy {{copied == i ? 'clipboard-click': ''}}"  (click)="copyToClipboard(link.short_link,i)" type="secondary" label="{{copied == i ? 'Copied' : 'Copy'}}" myClass="full" ></app-button>
    </div>
</ng-container>