::ng-deep app-button.clipboard-click button {
    background-color: var(--voilet);
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button{
    color: white;
    background-color: var(--cyan);
    padding: 10px 40px;
    border: none;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .full{
        width: 100%;
    }
}