/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root{
    --primary-1:hsl(180, 66%, 49%);

    --voilet: hsl(257, 27%, 26%);
    --dark-voilet: hsl(260, 8%, 14%);
    --grayish-voilet:  hsl(257, 7%, 63%);

    --red:hsl(0, 87%, 67%);

    --gray:hsl(0, 0%, 75%);
    --dark-blue:hsl(255, 11%, 22%);
}

*{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-blue);
    font-weight: 700;
}